@import('../../app/variables.styl')
@import('../../app/mixins.styl')

.btn
  background-color btn-bg
  color btn-color
  font-size btn-font-size
  border 0
  margin 0
  padding 8px 12px
  cursor pointer
  border-radius 2px
  transition(all)

  &:hover
    background-color btn-bg-hover
    color btn-color-hover
