<div class="top-bar">
  <h1 class="title" ng-bind="topBar.title"></h1>
  <div class="level" ng-if="topBar.level">
    <strong>Level: </strong>
    <span ng-bind="topBar.level"></span>
  </div>
  <div class="attempts" ng-if="topBar.level">
    <strong>Attempts: </strong>
    <span ng-bind="topBar.attempts"></span>
  </div>
  <div class="fails" ng-if="topBar.level">
    <strong>Fails: </strong>
    <span ng-bind="topBar.fails + '/' + topBar.maxFails"></span>
  </div>
  <div class="lettersLeft" ng-if="topBar.level">
    <strong>Letters left: </strong>
    <span ng-bind="topBar.lettersLeft"></span>
  </div>
</div>
