@import('../../app/variables.styl')

.top-bar
  background-color top-bar-bg
  color top-bar-color
  position absolute
  top 0
  right 0
  left 0
  height top-bar-height
  padding 0 top-bar-padding
  display flex
  align-items center
  justify-content space-between

  h1
    margin 0
