@import('../../app/variables.styl')
.board
  position absolute
  right 0
  bottom 0
  left 0
  display flex
  flex-wrap wrap
  justify-content flex-start
  align-items stretch

  .board-letter
    .btn
      font-size board-letter-font-size
      width board-letter-size
      height board-letter-size
      margin board-letter-margin

    &.selected
      .btn
        background-color color4
        color color3
