<div ng-if="modal.launched">
  <div class="modal-overlay"></div>
  <div class="modal">
    <div class="modal-header" ng-bind="::modal.title"></div>
    <div class="modal-content">
      <p ng-bind="::modal.msg"></p>
      <p>You finished the game in {{::modal.params.duration}} seconds.</p>
    </div>
    <div class="modal-footer">
      <btn ng-click="modal.close()">close</btn>
      <btn ng-click="modal.newGame()" ng-if="modal.type === 'success'">new game</btn>
      <btn ng-click="modal.nextLevel()" ng-if="modal.type === 'level'">next level</btn>
    </div>
  </div>
</div>
