@import('../../app/variables.styl')

.modal-overlay
  position absolute
  z-index 100
  top 0
  right 0
  bottom 0
  left 0
  background-color rgba(0,0,0,0.5)

.modal
  position absolute
  z-index 110
  width modal-width
  height modal-height
  left 50%
  margin-left (modal-width / -2)
  top 50%
  margin-top (modal-height / -2)
  background-color modal-background-color
  border-radius 2px
  box-shadow 2px 2px 10px color1
  display flex
  flex-direction column
  justify-content space-between

  .modal-header
    height 38px
    padding 8px
    font-size: 24px;
    line-height: 38px;
    background-color modal-header-background-color
    color modal-header-color

  .modal-content
    font-size 18px
    padding: 8px

  .modal-footer
    padding 8px
    background-color modal-footer-background-color
    display flex
    justify-content flex-end

    .btn
      margin 0 4px
