@import url('https://fonts.googleapis.com/css?family=Lato')
@import('variables')


html, body
  width 100%
  height 100%
body
  background app-background
  color app-color
  margin: 0
  padding-top top-bar-height
  overflow hidden

body, .btn
  font-family 'Lato', sans-serif

button:focus
  outline 0
.start-btn
  position: absolute
  left 50%
  top: 50%
