<top-bar title="{{::app.title}}" level="app.game.level" attempts="app.game.attempts" fails="app.game.fails" max-fails="app.game.maxFails" letters-left="app.game.lettersLeft"></top-bar>
<btn class="start-btn" ng-click="app.game.start()" ng-if="!app.game.started()">Start game</btn>
<word letters="app.game.letters" ng-if="app.game.started()"></word>
<board ng-if="app.game.started()" available-letters="app.game.availableLetters" checked-letters="checkedLetters" on-check-letter="app.game.checkLetter(character)"></board>
<modal></modal>
