color1 = rgba(70, 63, 58, 1)
color2 = rgba(138, 129, 124, 1)
color3 = rgba(188, 184, 177, 1)
color4 = rgba(244, 243, 238, 1)
color5 = rgba(224, 175, 160, 1)

app-background = color4
app-color = color1

top-bar-bg = color5
top-bar-color = color1
top-bar-height = 64px
top-bar-padding = 8px

btn-bg = color3
btn-bg-hover = color2
btn-color = color4
btn-color-hover = color4
btn-font-size = 18px

word-size = 64px
word-margin = 8px
word-font-size = 48px
word-border-color = color5

board-letter-size = 96px
board-letter-margin = 8px
board-letter-font-size = 32px

modal-background-color = color4
modal-width = 600px
modal-height = 320px
modal-header-background-color = color1
modal-header-color = color4
modal-footer-background-color = color1
