@import('../../app/variables.styl')

.words
  position absolute
  top top-bar-height
  right 0
  left 0
  padding: 32px
  display flex
  justify-content center

  .word
    font-size word-font-size
    margin word-margin
    width word-size
    height word-size
    border-bottom 2px solid word-border-color
    text-align center
    line-height word-size
